<header>
  <!-- Navbar related code -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Placement Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- Link to dashboard -->
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
          </li>
          <!-- Link to go to jobs page -->
          <li class="nav-item">
            <a class="nav-link" href="https://www.indeed.com/career-advice/finding-a-job/list-of-technology-careers">Jobs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- Link to add student -->
              <li><a class="dropdown-item" href="/student/add-student">Add Student</a></li>
              <!-- Link to add Interview -->
              <li><a class="dropdown-item" href="/interview/add-interview">Add Interview</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- Link to download report -->
              <li><a class="dropdown-item" href="/download">Report</a></li>
            </ul>
          </li>
          
        </ul>
        <!-- Checks if user is loggedIn -->
        <form class="d-flex">
          <% if(locals.user) { %>
            <a class="navbar-brand btn btn-secondary rounded-circle" href="/profile"><%= locals.user.username.toUpperCase()[0]%></a>
            <%}%>
            <!-- Link to signout signed user -->
          <a class="navbar-brand btn" href="/sign-out">Signout</a>
        </form>
      </div>
    </div>
  </nav>

</header>
